* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 242, 233);
  height: 100vh;
}
header > h1 {
  text-align: center;
  margin-top: 60px;
}

header > h1 > span {
  color: red;
}
.sub_head {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
.head {
  margin-top: 50px;
}
.bd {
  max-width: 700px;
  font-size: larger;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  color: rgb(61, 58, 58);
}
.learn_link {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 70px;
}

.left_link > button {
  height: 50px;
  max-width: 250px;
  font-size: larger;
  background-color: rgb(204, 21, 21);
  color: whitesmoke;
  border: 2px solid rgb(204, 21, 21);
}
.left_link > button:hover {
  background-color: wheat;
  color: rgb(204, 21, 21);
}

.right_link > button {
  height: 50px;
  max-width: 250px;
  font-size: larger;
  background-color: whitesmoke;
  color: rgb(204, 21, 21);
  border: 2px solid rgb(204, 21, 21);
}
.right_link > button:hover {
  background-color: rgb(204, 21, 21);
  color: whitesmoke;
}
@media screen and (max-width: 770px) {
  .learn_link {
    display: block;
    text-align: center;
  }
  .right_link button {
    max-width: 20rem;
  }
  .left_link button {
    max-width: 250px;
  }
}
/*@media screen  and (max-width:300px) {
    .right_link{
        max-width: 15rem;
    }
    .left_link{
        max-width: 15rem;
    }*
}*/
.mid_text {
  text-align: center;
  max-width: 30.2rem;
  margin: auto;
  margin-top: 30rem;
}
.mid_text > h2 {
  margin-bottom: 20px;
  color: rgb(204, 21, 21);
  font-size: medium;
}
.mid_text > h1 {
  color: rgb(61, 58, 58);
  font-size: 1.7rem;
}
.zuri_offers {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
}
@media screen and (max-width: 990px) {
  .zuri_offers {
    display: block;
    margin: 3rem;
    gap:20px;
    
  }
  .training br  {
    
    display:none ;
    
   
    
    
   
  }
  
  .internship br   {
    display:none ;
    margin-top: 20px;
    
  
   
 
  }
  .talent br  {
    display:none ;
    
    


  }
  .zuri{
    margin-top: 10rem;
    text-align: justify;
  }
}
 .training h3 {
  color: rgb(61, 58, 58);
  
  
 
}
.training a {
  text-decoration: none;
  font-size: large;
  color: red;
  position: relative;
  top: 30px;
  text-decoration: none;
  font-size: large;


}

.zuri_offers > .internship h3 {
  
  color: rgb(61, 58, 58);
 
  
}
.internship a {
  text-decoration: none;
  font-size: large;
  position: relative;
  top: 30px;
  text-decoration: none;
  font-size: large;
  color: red;
}
.talent h3 {
  color: rgb(61, 58, 58);
  
  
}
.talent a {
  text-decoration: none;
  font-size: large;
  position: relative;
  top: 50px;
  text-decoration: none;
  font-size: large;
  color: red;
}

.hd {
  margin-bottom: 5rem;
}
.hd > span {
  color: rgb(204, 21, 21);
}
footer {
  display: flex;
  margin-top: 15rem;
  justify-content: space-around;
}
@media screen and (max-width:600px) {
    footer{
        display: block;
        justify-content: center;
        text-align: center;
    }
    .links-section{
      margin-top: 3rem;
    }
    .contact-section{
      margin-top: 2rem;
    }
    .contact-section a{
      margin-top: 3rem;
    }
    .handles{
      margin-top: 3rem;
    }
    .hd{
    display: flex; 
    justify-content: center; 
    }
}
.zuri-text {
  color: rgb(72, 69, 69);
}
.zuri-text span {
  color: red;
}
.links-section > h1 {
  color: rgb(72, 69, 69);
  font-size: 1.5rem;
}
.links-section div {
  margin-top: 2rem;
  color: red;
  font-size: medium;
}
.contact-section h1 {
  color: rgb(72, 69, 69);
  font-size: 1.5rem;
}
.contact-section div {
  margin-top: 2rem;
  color: rgb(72, 69, 69);
  font-size: medium;
}
.contact-section a {
  text-decoration: none;
  color: red;
}
.handles h1 {
  color: rgb(72, 69, 69);
  font-size: 1.5rem;
}

.hd {
  display: flex;
  gap: 15px;
}

.fa-brands {
  color: royalblue;
  font-size: x-large;
}
.fa-square-instagram {
  color: red;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid rgb(173, 170, 170);
  height: 10rem;
  width: 90%;
  margin: auto;
  margin-top: 7rem;
}
.footer > p {
  margin-top: 2rem;
  color: rgb(67, 63, 63);
  font-weight: 900;
  font-size: 1.2rem;
}
